# NEXT.js Backend Vercel Serverless Env Example

# Masukkan daftar API key Gemini Anda, pisahkan dengan koma (TANPA SPASI)
GEMINI_API_KEYS=key1,key2,key3

# Masukkan daftar API key Groq Anda, pisahkan dengan koma (TANPA SPASI)
GROQ_API_KEYS=gsk_1,gsk_2,gsk_3
